@font-face {
    font-family: Insta regular;
    src: url('../src/assets/fonts/insta-font.woff2');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,

#root{
width: 100%;

--bg-primary-color: #0C1014;
--bg-secondary-color:#152127;
--primary-blue-color: #0D3C71;
--primary-border:#2D383D;
}

html{
background-color: var(--bg-primary-color);
font-family: Insta regular;
color: #eaeaea;

}
