main{
    
    display: flex;
    width: 100%;
    flex-direction: column;

    .login-conatiner{
        display: flex;
        gap: 2rem;
        width: 100%;
        height: 93vh;


    .login-left{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 55%;
        padding: 3rem;
        // background-color: darkcyan;


        .login-left-container{
        // background-color: darkviolet;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;


            .insta-logo{
            width: 100%;
            display: flex;
            justify-content:start;
            align-items: center;
            // background-color: green;

            img{
                width: 80px;
                height: 80px;
            }
            }

            .insta-text{
                align-self: center;
                width: 80%;
                display: flex;
                text-align: center;
                // background-color: darkred;
                h1{
                font-family: Insta regular;
                font-weight: 400;
                font-size: 2.5vw;


                span{
                    background: linear-gradient(to right, #ff5c00, #ff0069, #d300c5);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            }



            .insta-img{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: blue;

                img{
                    width: 30vw;
                    // width: 60%;
                    height: auto;
                }
            }

        }
    }
    
        

    .form-container{
        border-left: 4px solid var(--primary-border);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        height: 100%;
        width: calc(100% - 55%);
        background-color: var(--bg-secondary-color);
        padding-inline: 3rem;
        
        form{
            min-width: 400px;
            display: flex;
            flex-direction: column;
            gap: 1rem;


            input,button{
                border: none;
                outline: none;
                padding-inline: 1.5rem;
                padding-block: 1rem;
                border-radius: 1rem;
                background: transparent;
                border: 2px solid var(--primary-border);
                font-size: 1rem;
                font-weight: 500;

                color: #F1F4F7;
            }

            input::placeholder{
                color:#f1f4f7af;
            }

            button{
                background-color: var(--primary-blue-color);
                border-radius: 50px;
                padding-block: 0.8rem;
                
                font-weight: 500;
                cursor: pointer;
            }
            
        }
    }


    .toggleAuthForm{
        color: #cc2828;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
    }







    



    }
}