main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;




    .form-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        height: fit-content;
        
        
        form{
            min-width: 400px;
            display: flex;
            flex-direction: column;
            gap: 1rem;


            input,button{
                border: none;
                outline: none;
                padding-inline: 1.5rem;
                padding-block: 1rem;
                border-radius: 1rem;
            }

            button{
                background-color: #d00303;
                color: white;
                font-weight: 500;
                cursor: pointer;
            }
            
        }
    }


    .toggleAuthForm{
        color: #cc2828;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
    }


}