
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: absolute;
    // bottom: 0;
    width: 100%;
    justify-content: center;
    height: 120px;
    border-top: 1px solid var(--primary-border);


.footer-inner{
    display: flex;
    flex-direction: column;
    gap: 1rem;



    .footer-links{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        a{
            color: #a8a8a8;
            text-decoration: none;
            font-size: 0.8rem;
        }
        a:hover{
            text-decoration: underline;
        }
    }


    .footer-copyright{
        color: #a8a8a8;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
    }
}

    
}




